.footerbar {
  width: 100%;
  background-color: black;
  position: absolute;
  right: 0;
  text-align: center;

  & nav {
    margin: 66px 0 29px;
  }

  p {
    color: white;
    margin: 28.56px 0 0;
    font-size: 24px;
  }
}
