.footerbar {
  width: 100%;
  background-color: black;
  position: absolute;
  right: 0;
  text-align: center;

  & nav {
    margin: 66px 0 29px;
  }

  p {
    color: white;
    margin: 28.56px 0 0;
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .footerbar {

    p {
      margin: 24px 0 0;
      font-size: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .footerbar {

    & nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 66px 0 58px;
    }

    p {
      margin: 12px 0 0;
      font-size: 12px;
      width: 30%;
    }
  }
}
