.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: flex;
    gap: 57px;

    a {
      color: black;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active{
        text-decoration: underline;
      }
    }
  }
}

// @media (max-width: 1024px) {}

@media (max-width: 767.98px) {
  .navbar {

    &__link {
      gap: 26px;
    }
  }
}
