.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  &.homepage,
  &.accommodation {
    margin-top: 45px;
  }

  img {
    width: 210.32px;
    height: 68px;
  }

  &__link {
    display: flex;
    gap: 57px;

    a {
      color: black;
      font-size: 24px;
      text-decoration: none;
    }

    .active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    margin-top: 0;

    &.homepage,
    &.accommodation {
      margin-top: 0;
    }

    img {
      width: 180px;
      height: 58px;
    }

    &__link {
      gap: 47px;

      a {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .navbar {
    margin-top: 0;

    &.homepage,
    &.accommodation {
      margin-top: 0;
    }

    img {
      width: 145px;
      height: 46.88px;
    }

    &__link {
      gap: 26px;
      text-transform: uppercase;

      a {
        font-size: 12px;
      }
    }
  }
}
