@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

.collapsible {
  padding: 0 108.05px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 38px;
}

.collapse {
  overflow: hidden;
  // margin-top: 30px;

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    background-color: #FF6060;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
    }

    &--title {
      font-size: 24px;
      font-weight: bold;
      padding: 10px 15px 8px;
    }

    .icon {
      transition: all 0.4s ease-in-out;
    }

    .fa-chevron-up,
    .fa-chevron-down  {
      font-size: 20px;
      padding: 11px 20px 9px;
    }

    .fa-chevron-up {
      transform: rotate(360deg);
    }
  }

  &__content {
    overflow: hidden;
    max-height: 1000px;
    top: 0px;
    position: relative;
    transition: all 0.3s ease;
    opacity: 1;

    & p {
      padding: 16px;
      background-color: #f9f9f9;
      margin: 0;
    }
  }

  &__content.open {
    transition: all 0.3s ease;
    max-height: 0;
    top: -100px;
    position: relative;
    opacity: 0.5;
  }
}

@media (max-width: 1024px) {
  .collapsible {
    padding: 0 54px;
  }

  .collapse {
    &__card {
      &--title {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .collapsible {
    padding: 0;
    gap: 20px;
    margin-top: 19px;
  }

  .collapse {
    // margin-top: 20px;

    &__card {
      &--title {
        font-size: 13px;
        padding: 10px;
      }

      .fa-chevron-up,
      .fa-chevron-down  {
        padding: 10.29px 12px 12.57px;
      }
    }

    // &__content {
    //   margin-bottom: 19px;
    // }
  }
}
