.accommodation {
  .appartment {
    display: flex;
    justify-content: space-between;

    .left-side {
      .infos {
        margin-bottom: 20px;

        &__title {
          font-size: 36px;
          color: #FF6060;
          margin: 0;
        }

        &__location {
          font-size: 18px;
          margin: 0;
        }
      }

      .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 24px;

        &__tag {
          color: white;
          border-radius: 10px;
          background-color: #FF6060;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 30px;
        }
      }
    }

    .right-side {
      .infos__host {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 21px;

        &--name {
          font-size: 18px;
          color: #FF6060;
          text-align: end;

          .name-part {
            margin: 0;
          }
        }

        &--pic {
          border-radius: 100px;
          width: 64px;
          height: 64px;
        }
      }

      .position {
        text-align: end;

        .rating {
          .fa.fa-star.rated {
            color: #FF6060;
          }

          .fa.fa-star.unrated {
            color: #E3E3E3;
          }
        }
      }
    }
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 76px;
    overflow: hidden;

    .equipment-only {
      display: flex;
      flex-direction: column;
    }
  }
}


@media (max-width: 1024px) {
  .accommodation {
    .infos {
      &__title {
        font-size: 30px;
      }

      &__host {
        &--pic {
          width: 60px;
          height: 60px;
        }
      }
    }

    .tags-rating {
      display: flex;

      .tags {
        .container-position {
          display: none;
        }

        .mobile__host {
          display: none;
        }
      }
    }

    .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 54px;

      .equipment-only {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .accommodation {
    .infos {
      display: block;

      &__title {
        font-size: 18px;
        margin-bottom: 5px;
      }

      &__location {
        font-size: 14px;
        margin: 0;
      }

      &__host {
        display: none;
      }
    }

    .tags-rating {
      display: block;
      margin-bottom: 20px;

      .tags {
        &__tag {
          font-size: 10px;
          padding: 5px 22px;
          margin-bottom: 16px;
        }
      }

      .container-position {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .mobile__host {
        display: flex;
        gap: 10px;
        align-items: center;

        &--name {
          font-size: 12px;
          color: #FF6060;
          text-align: end;

          .name-part {
            margin: 0;
          }
        }

        &--pic {
          border-radius: 100px;
          width: 32px;
          height: 32px;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}
