.accommodation {
  .appartment {
    display: flex;
    justify-content: space-between;

    .left-side {
      .infos {
        margin-bottom: 20px;

        &__title {
          font-size: 36px;
          color: #FF6060;
          margin: 0;
        }

        &__location {
          font-size: 18px;
          margin: 0;
        }
      }

      .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 24px;

        &__tag {
          color: white;
          border-radius: 10px;
          background-color: #FF6060;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 30px;
        }
      }
    }

    .right-side {
      .infos__host {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 21px;

        &--name {
          font-size: 18px;
          color: #FF6060;
          text-align: end;

          .name-part {
            margin: 0;
          }
        }

        &--pic {
          border-radius: 100px;
          width: 64px;
          height: 64px;
        }
      }

      .position {
        text-align: end;

        .rating {
          .fa.fa-star.rated {
            color: #FF6060;
          }

          .fa.fa-star.unrated {
            color: #E3E3E3;
          }
        }
      }
    }
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 76px;
    overflow: hidden;

    .equipment-only {
      display: flex;
      flex-direction: column;
    }
  }
}


@media (max-width: 1024px) {
  .accommodation {
    .appartment {

      .left-side {
        .infos {
          &__title {
            font-size: 30px;
          }
        }
      }

      .right-side {
        .infos__host {
          &--pic {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .details {
      grid-gap: 54px;
    }
  }
}

@media (max-width: 767.98px) {
  .accommodation {
    .appartment {
      justify-content: normal;
      flex-direction: column;

      .left-side {
        .infos {
          margin-bottom: 10px;

          &__title {
            font-size: 18px;
            margin-bottom: 5px;
          }

          &__location {
            font-size: 14px;
          }
        }

        .tags {
          margin-bottom: 16px;

          &__tag {
            font-size: 10px;
            padding: 5px 14px;
          }
        }
      }

      .right-side {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .infos__host {
          margin-bottom: 13px;

          &--name {
            font-size: 12px;
          }

          &--pic {
            width: 32px;
            height: 32px;
          }
        }

        .position {
          text-align: center;
          padding-top: 6px;

          .rating {
            .fa-star {
              font-size: 12px;
            }
          }
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;

      .equipment-only {
        font-size: 12px;
      }
    }
  }
}
