@import 'layout/header';
@import 'pages/home';
@import 'components/banner';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

#root {
  padding: 45px 100px 0;
}

// @media (max-width: 1024px) {}

@media (max-width: 767.98px) {
  #root {
    padding: 20px 20px 0;
  }
}
