* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

#root {
  padding: 0 100px 0;
}

@media (max-width: 1024px) {
  #root {
    padding: 40px 45px 0;
  }
}

@media (max-width: 767.98px) {
  #root {
    padding: 20px 20px 0;
  }
}
